<div class="container">
<div class="wrapper">

	<header class="header">

		<div class="header__logo">
			<div class="header__logo-inner">Flip<br /> Coin</div>
		</div>

		<nav class="header__nav">
			<ul>
				<li><a href="#features" data-turbolinks="false">Преимущества</a></li>
				<li><a href="#prototype" data-turbolinks="false">Прототип</a></li>
				<li><a href="#invest" data-turbolinks="false">Инвестиции</a></li>
			</ul>
		</nav>

		<div class="header__buttons">
			<a class="btn  btn--ghost" href="flipcoin.pdf" data-turbolinks="false">Презентация</a>
			<a class="btn  btn--filled  js-write-us" href="#write-us">Написать нам</a>
		</div><!-- .header__buttons -->

	</header><!-- .header -->

	<main class="content">

		<section class="intro">
			<div class="intro__image">
				<img src="img/image-1.png" width="650" height="937" alt="" />
			</div>
			<div class="intro__inner">
				<h1 class="intro__title">Честный гемблинг</h1>
				<div class="intro__text">
					<p>Индустрия гемблинга уже давно испытывает значительные изменения — подавляющая часть пользователей предпочитает онлайн-игру.</p>
					<p>Мы убеждены, что закату традиционных казино мешает лишь отсутствие прозрачности и мы знаем как технология Blockchain уже сегодня может решить эту проблему.</p>
				</div><!-- .intro__text -->
			</div><!-- .intro__inner -->
		</section><!-- .intro -->

		<section class="features" id = "features">
			<div class="features__item  features__item-1">
				<h2 class="headline">User experience</h2>
				<div class="features__text">
					<p>Несмотря на использование распределенной технологии Blockchain, наша платформа позволяет сделать опыт игры конкурирующим с лидерами традиционного рынка.</p>
					<p>Мы элегантно используем Blockchain только там, где это нужно, минимизируя комиссии и временные затраты и считаем, что пользователи не обязательно должны обладать специальными знаниями для игры.</p>
				</div><!-- .features__text -->
			</div><!-- .features__item -->
			<div class="features__item  features__item-2">
				<h2 class="headline  features__headline">Полная прозрачность</h2>
				<div class="features__text">
					<p>Фундаментальная проблема генерации случайных чисел, в данный момент, никак не решается рынком.</p>
					<p>Наша платформа предоставляет прозрачную схему генерации случайных чисел, позволяя игрокам проверить честность игры.</p>
				</div><!-- .features__text -->
			</div><!-- .features__item -->
		</section><!-- .features -->

		<section class="prototype" id="prototype">
			<div class="prototype__image">
				<img src="img/image-2.png" width="1066" height="1060" alt="" />
			</div>
			<div class="prototype__inner">
				<h2 class="headline">Прототип<br /> слотов готов</h2>
				<div class="prototype__text">
					<p>Прототип показывает игру со стороны пользователя.</p>
					<p>У нас есть не только идея, но и четкое понимание как воплотить ее в жизнь — мы сделали прототип для себя чтобы убедиться в этом.</p>
				</div><!-- .prototype__text -->
				<div class="prototype__buttons">
					<a class="btn  btn--filled js-write-us" href="#write-us">Демонстрация</a>
					<a class="btn  btn--ghost" href="flipcoin.pdf">Презентация</a>
				</div>
			</div><!-- .prototype__inner -->
		</section><!-- .prototype -->

		<section class="developers">
			<div class="developers__inner">
				<h2 class="headline">Возможности<br /> для разработчиков</h2>
				<div class="developers__text">
					<p>Наша платформа предоставляет API для создания собственных игровых автоматов. Часть дохода от них будет перечисляться разработчикам в качестве вознаграждения. Конкурентная среда стимулирует появление самых привлекательных игровых автоматов и расширяет аудиторию.</p>
				</div><!-- .developers__text -->
			</div><!-- .developers__inner -->
			<div class="developers__image">
				<img src="img/image-3.png" width="826" height="1011" alt="" />
			</div>
		</section><!-- .developers -->

		<section class="partners">

			<ul class="partners__list">
				<li class="partners__item">
					
						
			
				</li>
				<li class="partners__item">
				

				</li>
			</ul>
		</section><!-- .partners -->

		<div class="bottom">

			<section class="slider">
				<h2 class="headline">О нас</h2>
				<ul class="slider__list" id="slider">
					<li class="slider__item">
						<div class="slider__inner">
							<blockquote class="slider__text">
								<p>В современном мире открытость и честность очень востребованы. Наше решение позволяет сделать казино полностью прозрачным для игрока.</p>
							</blockquote><!-- .slider__text -->
						</div><!-- .slider__inner -->
					</li>
					<li class="slider__item">
						<div class="slider__inner">
							<blockquote class="slider__text">
								<p>Казино и игрок находятся в равных условиях - победителя определяет только удача.</p>
							</blockquote><!-- .slider__text -->
						</div><!-- .slider__inner -->
					</li>
					<li class="slider__item">
						<div class="slider__inner">
							<blockquote class="slider__text">
								<p>Шанс выиграть, как в рулетке, только шарик бросаете лично Вы.</p>
							</blockquote><!-- .slider__text -->
						</div><!-- .slider__inner -->
					</li>
				</ul>
			</section><!-- .slider -->

			<section class="invest" id="invest">
				<div class="invest__content">
					<h2 class="headline">Инвестирование на раннем этапе</h2>
					<div class="invest__text">
						<p>Помогите нам разработать платформу. Мы нанимаем программистов, дизайнеров, эдвайзеров и маркетологов мирового уровня с огромным опытом работы. У Вас есть возможность получить самый высокий ROI приняв участие на начальном этапе.</p>
					</div><!-- .invest__text -->
					<div class="invest__bottom">
						<div class="invest__bottom-text">Любите цифры?</div>
						<a class="invest__bottom-plan js-write-us" href="#write-us">Посмотрите наш бизнес-план.</a>
					</div>
				</div><!-- .invest__content -->
				<div class="invest__plans">

					<div class="plan  plan--main">
						<div class="plan__head">
							<div class="plan__headline">Частичное</div>
							<div class="plan__price">10 000 000 <span class="rub">Р</span></div>
						</div><!-- .plan__head -->
						<div class="plan__title">Запуск<br />платформы</div>
						<ul>
							<li>15 слотов</li>
						</ul>
						<a class="btn  btn--filled js-write-us" href="#write-us">Назначить встречу</a>
					</div><!-- .plan -->

					<div class="plan">
						<div class="plan__head">
							<div class="plan__headline">Полное</div>
							<div class="plan__price">50 000 000 <span class="rub">Р</span></div>
						</div><!-- .plan__head -->
						<div class="plan__title">Запуск и продвижение платформы</div>
						<ul>
							<li>70 слотов</li>
							<li>Получение лицензии</li>
							<li>Маркетинг и PR</li>
						</ul>
						<a class="btn  btn--filled js-write-us" href="#write-us">Назначить встречу</a>
					</div><!-- .plan -->
				</div><!-- .invest__plans -->

			</section><!-- .invest -->

			<section class="subs">
				<h2 class="headline">Подпишитесь на новости</h2>
				<%= form_for [@subscription, Subscription.new], remote: true, html: {class: "subs__form"}  do |f| %>
                    <%= f.email_field :email, placeholder: "Email", required: true, class: "subs__input" %>
                    <%= f.button t('Жду новостей'), class: "btn  btn--filled  subs__button" %>
                 <% end %>
				<p class="subs__text">Мы будем писать только по делу.</p>
			</section><!-- .subs -->

		</div><!-- .bottom -->
	</main>
	<!-- .content -->

	<footer class="footer">

		<div class="footer__copyright">Flip Coin <span class="footer__year">2018</span> — Честный гемблинг</div>

	</footer><!-- .footer -->

</div><!-- .wrapper -->
</div><!-- .container -->
<section class="modal moda-write-us mfp-hide" id="write-us">
	<div class="modal__outer">
		<h2 class="visually-hidden">Оставьте Ваш телефон</h2>
		<%= form_for [@call, Call.new], remote: true, html: {class: "modal__inner"}  do |f| %>
           <%= f.text_field :name, placeholder: "Ваше имя", required: true, class: "modal__input" %>
           <%= f.phone_field :phone, placeholder: "Ваш телефон", required: true, class: "modal__input" %>
           <%= f.button t('Жду звонка'), class: "btn  btn--filled  modal__button" %>
        <% end %>
	</div><!-- .modal__outer -->
</section><!-- .modal -->