<div class="container">
<div class="wrapper">

	<header class="header">

		<div class="header__logo">
			<div class="header__logo-inner">Coin<br /> Flip</div>
		</div>

		<nav class="header__nav">
			<ul>
				<li><a href="#features" data-turbolinks="false">Преимущества</a></li>
				<li><a href="#prototype" data-turbolinks="false">Витрина slot.store</a></li>
				<li><a href="#invest" data-turbolinks="false">Инвестиции</a></li>
			</ul>
		</nav>

		<div class="header__buttons">
			<a class="btn  btn--ghost" href="coinflip.pdf" data-turbolinks="false">Презентация</a>
			<a class="btn  btn--filled  js-write-us" href="#write-us">Написать нам</a>
		</div><!-- .header__buttons -->

	</header><!-- .header -->

	<main class="content">

		<section class="intro">
			<div class="intro__image">
				<img src="img/image-1.png" width="650" height="937" alt="" />
			</div>
			<div class="intro__inner">
				<h1 class="intro__title">Позитивная среда для инвестирования</h1>
				<div class="intro__text">
					<p>Сфера онлайн-гемблинга  имеет благоприятную и перспективную почву для создания бизнеса.
					Наблюдается сильный рост мирового рынка онлайн-гемблинга (более, чем в 2 раза на 106% в период с 2010-18 гг.), что составляет 44,1 млрд. евро. отраслевой прибыли в год. Наша минимальная цель - занять 0,02% рынка, выйдя на прибыль 9 млн. евро. Доскональное знание индустрии, подбор профессиональной команды, новаторский подход к гемблингу, четкий бизнес-план позволяют достичь заявленного результата.</p>
				</div><!-- .intro__text --><br><br>
				<h1 class="intro__title">География проекта</h1>
				<div class="intro__text">
					<p>CoinFlip - это международное онлайн-казино, работающее строго в правовом секторе, только в тех юрисдикциях, где азартные игры в интернете разрешены. По состоянию на 1 января 2019 года это более 70 стран. Главное  направление - это Европа и Юго-Восточная Азия, а также перспективные рынки Бразилии, Индии, Японии. Особняком стоит США, где в конгрессе в этом году обсуждается вопрос о легализации онлайн-гемблинга. </p>
					<p>Страны первого потока, куда мы планируем зайти после создания платформы: Португалия, Норвегия, Ирландия, Швеция. По совокупности среднего дохода и тратам на азартные игры. Лицензии местного регулятора в этих странах не требуется.</p>
				</div><!-- .intro__text --><br><br>
			</div><!-- .intro__inner -->
		</section><!-- .intro -->

		<section class="features" id = "features">
			<div class="features__item  features__item-1">
				<h2 class="headline">Алгоритм VRN</h2>
				<div class="features__text">
					<p>На данный момент ни одно казино не может предоставить гарантии честной игры. Это является фундаментальной проблемой рынка, существенно ограничивающей объем индустрии, притока новых игроков, влияния на правовой статус отрасли.</p>
					<p>Мы придумали криптографическую модель VRN (Verify Random Numbers), позволяющую игрокам проверить справедливость исхода в любое время неограниченное количество раз.</p>
					<p>Алгоритм удобно интегрируется в слоты и другие игры казино, превращая механизм распределения выигрышей в прозрачный для пользователя процесс.</p>
				</div><!-- .features__text -->
			</div><!-- .features__item -->
			<div class="features__item  features__item-2">
				<h2 class="headline  features__headline">Интерактив</h2>
				<div class="features__text">
					<p>На современном этапе развития гемблинга пользователи не получают должного взаимодействия с игрой. У игрока не возникает ощущения, что он каким-либо образом участвует в процессе, по факту происходит числовое моделирование запрограммированного скрипта. Признаки прямого интерактива отсутствуют.</p>
					<p>Наши игры будут обладать значительным преимуществом над софтом, который функционирует сейчас!</p>
					<p>На старте сессии вводится число или символ, от выбора которого напрямую будет зависеть результат всей игры, и это можно будет проверить с помощью алгоритма VRN. Подобная механика - ноу-хау в индустрии.</p>
				</div><!-- .features__text -->
			</div><!-- .features__item -->
		</section><!-- .features -->

		<section class="prototype" id="prototype">
			<div class="prototype__image">
				<img src="img/image-2.png" width="1066" height="1060" alt="" />
			</div>
			<div class="prototype__inner">
				<h2 class="headline">Витрина slot.store</h2>
				<div class="prototype__text">
					<p>Дополнительным нововведением в рамках проекта «CoinFlip» будет предоставление API ( интерфейса прикладного программирования) для сторонних разработчиков. На текущий момент похожих кейсов нет. </p>
					<o>В основе API лежит «каркас» со встроенным алгоритмом VRN.</p>
					<p>Системный функционал дает возможность самостоятельно создавать собственный game play, дизайн, логику работы будущих игр.</p>
				</div><!-- .prototype__text -->
			</div><!-- .prototype__inner -->
		</section><!-- .prototype -->

		<section class="developers">
			<div class="developers__inner">
				<h2 class="headline">Современное казино</h2>
				<div class="developers__text">
					<p>Мы создаем платформу  с высоким уровнем финансовой безопасности. У игрока не должно возникать мысли о «непорядочности» заведения. Мы ведем честный бизнес с практической возможностью проверить свою удачу.</p>
					<p>Мы будем соблюдать высокий уровень сервиса, так как в казино игрок должен чувствовать себя комфортно.</p>
					<p>Игра должна должна быть интересной и завлекающей. Приятная «картинка» и качественный геймлей - актуальные атрибуты процесса гемблинга.</p>
				</div><!-- .developers__text -->
			</div><!-- .developers__inner -->
			<div class="developers__image">
				<img src="img/image-3.png" width="826" height="1011" alt="" />
			</div>
		</section><!-- .developers -->

		<section class="partners">

			<ul class="partners__list">
				<li class="partners__item">
					
						
			
				</li>
				<li class="partners__item">
				

				</li>
			</ul>
		</section><!-- .partners -->

		<div class="bottom">

			<section class="slider">
				<h2 class="headline">О нас</h2>
				<ul class="slider__list" id="slider">
					<li class="slider__item">
						<div class="slider__inner">
							<blockquote class="slider__text">
								<p>Мы - команда профессионалов с большим опытом в сфере гэмблинга и разработки</p>
							</blockquote><!-- .slider__text -->
						</div><!-- .slider__inner -->
					</li>
					<li class="slider__item">
						<div class="slider__inner">
							<blockquote class="slider__text">
								<p>Мы заручились поддержкой финансовых аналитиков «Winter Capital» и «McKinsey & Company»</p>
							</blockquote><!-- .slider__text -->
						</div><!-- .slider__inner -->
					</li>
					<li class="slider__item">
						<div class="slider__inner">
							<blockquote class="slider__text">
								<p>Для нас в приоритете работа в правовом секторе с соблюдением всех юридических законов и норм</p>
							</blockquote><!-- .slider__text -->
						</div><!-- .slider__inner -->
					</li>
				</ul>
			</section><!-- .slider -->

			<section class="invest" id="invest">
				<div class="invest__content">
					<h2 class="headline">Инвестиционне предложение</h2>
					<div class="invest__text">
						<p>Необходимый бюджет для создания готового продукта 12 940 000  рублей.<a class="invest__bottom-plan" href="https://docs.google.com/spreadsheets/d/13sGdr9xU9TJEEvEUzr6HmldJsjXZN2Gfy6_vyAj847k">Посмотрите наш бизнес-план.</a> В рамках предложения  осуществляется запуск казино с 15-ю играми на основе алгоритма VRN, создание витрины slot. store, урегулирование вопросов юридического характера, отлаженный механизм работы платформы, тестовый пул игроков.</p>
					</div><!-- .invest__text -->
				</div><!-- .invest__content -->
				<div class="invest__plans">
					
					<div class="plan  plan--main">
						<div class="plan__head">
							<div class="plan__price">Доля в компании</div>
						</div><!-- .plan__head -->
						<ul>
							<li>1 млн. рублей за 1,5%</li>
							<li>Ежемесячный отчет о проделанной работе</li>
							<li>Обсуждение и совместное принятие стратегически важных решений</li>
							<li>Защита инвестиций</li>
							<li>Возможность продажи доли после завершения первого этапа (9 месяцев)</li>
						</ul>
						<a class="btn  btn--filled js-write-us" href="#write-us">Назначить встречу</a>
					</div><!-- .plan -->

					<div class="plan">
						<div class="plan__head">
							<div class="plan__headline">Договор займа</div>
						</div><!-- .plan__head -->
						<ul>
							<li>Сумма привлечения от 300 тысяч до 6 млн. рублей</li>
							<li>Подписание договора на 36 месяцев</li>
							<li>По истечению установленного срока инвестору возвращается сумма в 3 раза превышающая первоначальную (44,3 % годовых)</li>
							<li>В случае невозврата гарантирована доля в проекте пропорционально сумме вложенных средств + %</li>
							<li>Ежемесячный отчет о проделанной работе</li>
							<li>Дисконт на реинвестирование</li>
						</ul>
						<a class="btn  btn--filled js-write-us" href="#write-us">Назначить встречу</a>
					</div><!-- .plan -->

				</div><!-- .invest__plans -->

			</section><!-- .invest -->

			<section class="subs">
				<h2 class="headline">Подпишитесь на новости</h2>
				<%= form_for [@subscription, Subscription.new], remote: true, html: {class: "subs__form"}  do |f| %>
                    <%= f.email_field :email, placeholder: "Email", required: true, class: "subs__input" %>
                    <%= f.button t('Жду новостей'), class: "btn  btn--filled  subs__button" %>
                 <% end %>
				<p class="subs__text"><a href="mailto:info@flip-co.in">info@flip-co.in</a></p>
			</section><!-- .subs -->

		</div><!-- .bottom -->
	</main>
	<!-- .content -->

	<footer class="footer">

		<div class="footer__copyright">Coin Flip <span class="footer__year">2019</span> — Честный гемблинг</div>

	</footer><!-- .footer -->

</div><!-- .wrapper -->
</div><!-- .container -->
<section class="modal moda-write-us mfp-hide" id="write-us">
	<div class="modal__outer">
		<h2 class="visually-hidden">Оставьте Ваш телефон</h2>
		<%= form_for [@call, Call.new], remote: true, html: {class: "modal__inner"}  do |f| %>
           <%= f.text_field :name, placeholder: "Ваше имя", required: true, class: "modal__input" %>
           <%= f.phone_field :phone, placeholder: "Ваш телефон", required: true, class: "modal__input" %>
           <%= f.button t('Жду звонка'), class: "btn  btn--filled  modal__button" %>
        <% end %>
	</div><!-- .modal__outer -->
</section><!-- .modal -->